@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ajk7ac');
  src:  url('fonts/icomoon.eot?ajk7ac#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ajk7ac') format('truetype'),
    url('fonts/icomoon.woff?ajk7ac') format('woff'),
    url('fonts/icomoon.svg?ajk7ac#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-thermometer:before {
  content: "\e900";
}
.icon-plus:before {
  content: "\e640";
}
.icon-minus:before {
  content: "\e641";
}
.icon-equals:before {
  content: "\e901";
}
.icon-divide:before {
  content: "\e902";
}
.icon-greater-than:before {
  content: "\e903";
}
.icon-less-than:before {
  content: "\e904";
}
.icon-not-equal:before {
  content: "\e905";
}
.icon-tablet:before {
  content: "\e906";
}
.icon-element:before {
  content: "\e907";
}
.icon-chain:before {
  content: "\e015";
}
.icon-fullscreen:before {
  content: "\e5d2";
}
.icon-fullscreen-exit:before {
  content: "\e5d3";
}
.icon-export:before {
  content: "\e600";
}
.icon-play:before {
  content: "\e601";
}
.icon-play-circle-invert:before {
  content: "\e602";
}
.icon-music:before {
  content: "\e603";
}
.icon-video:before {
  content: "\e604";
}
.icon-pic:before {
  content: "\e605";
}
.icon-qr:before {
  content: "\e606";
}
.icon-directions:before {
  content: "\e607";
}
.icon-compass:before {
  content: "\e608";
}
.icon-target:before {
  content: "\e609";
}
.icon-wrench:before {
  content: "\e60a";
}
.icon-apple:before {
  content: "\e60b";
}
.icon-android:before {
  content: "\e60c";
}
.icon-windows:before {
  content: "\e60d";
}
.icon-star:before {
  content: "\e60e";
}
.icon-star-half:before {
  content: "\e60f";
}
.icon-star-empty:before {
  content: "\e610";
}
.icon-verified:before {
  content: "\e611";
}
.icon-earth-us:before {
  content: "\e612";
}
.icon-earth:before {
  content: "\e613";
}
.icon-trash:before {
  content: "\e614";
}
.icon-flag:before {
  content: "\e615";
}
.icon-info:before {
  content: "\e616";
}
.icon-question:before {
  content: "\e617";
}
.icon-attention:before {
  content: "\e618";
}
.icon-bubbles:before {
  content: "\e619";
}
.icon-feather:before {
  content: "\e61a";
}
.icon-on-off:before {
  content: "\e61f";
}
.icon-tag:before {
  content: "\e620";
}
.icon-tags:before {
  content: "\e621";
}
.icon-road-sign:before {
  content: "\e622";
}
.icon-loader:before {
  content: "\e623";
}
.icon-bug:before {
  content: "\e624";
}
.icon-distance:before {
  content: "\e625";
}
.icon-italic:before {
  content: "\e628";
}
.icon-bold:before {
  content: "\e629";
}
.icon-link:before {
  content: "\e62a";
}
.icon-check:before {
  content: "\e62b";
}
.icon-cancel:before {
  content: "\e62c";
}
.icon-love:before {
  content: "\e62d";
}
.icon-law:before {
  content: "\e62e";
}
.icon-copy:before {
  content: "\e62f";
}
.icon-upload:before {
  content: "\e630";
}
.icon-berlin:before {
  content: "\e631";
}
.icon-pen:before {
  content: "\e632";
}
.icon-search:before {
  content: "\e633";
}
.icon-redo:before {
  content: "\e634";
}
.icon-undo:before {
  content: "\e635";
}
.icon-reply:before {
  content: "\e636";
}
.icon-forward:before {
  content: "\e637";
}
.icon-chevron-up:before {
  content: "\e638";
}
.icon-chevron-down:before {
  content: "\e639";
}
.icon-double-angle-up:before {
  content: "\e63a";
}
.icon-double-angle-down:before {
  content: "\e63b";
}
.icon-pacman:before {
  content: "\e63c";
}
.icon-a-logo:before {
  content: "\e63d";
}
.icon-plus-sign:before {
  content: "\e63e";
}
.icon-minus-sign:before {
  content: "\e63f";
}
.icon-remove-sign:before {
  content: "\e642";
}
.icon-cancel-circle:before {
  content: "\e643";
}
.icon-check-circle-panel:before {
  content: "\e644";
}
.icon-print:before {
  content: "\e645";
}
.icon-download:before {
  content: "\e646";
}
.icon-check-empty:before {
  content: "\e647";
}
.icon-check-checked:before {
  content: "\e648";
}
.icon-placemark:before {
  content: "\e649";
}
.icon-rocket:before {
  content: "\e64a";
}
.icon-cc-by:before {
  content: "\e64b";
}
.icon-cc-nc:before {
  content: "\e64c";
}
.icon-cc-nc-eu:before {
  content: "\e64d";
}
.icon-cc-sa:before {
  content: "\e64e";
}
.icon-cc-nd:before {
  content: "\e64f";
}
.icon-cc-pd:before {
  content: "\e650";
}
.icon-cc-zero:before {
  content: "\e651";
}
.icon-cc-share:before {
  content: "\e652";
}
.icon-bike:before {
  content: "\e653";
}
.icon-beer:before {
  content: "\e654";
}
.icon-car:before {
  content: "\e655";
}
.icon-bus:before {
  content: "\e656";
}
.icon-lock:before {
  content: "\e657";
}
.icon-unlock:before {
  content: "\e658";
}
.icon-cc:before {
  content: "\e659";
}
.icon-city:before {
  content: "\e65a";
}
.icon-fun:before {
  content: "\e65b";
}
.icon-outdoors:before {
  content: "\e65c";
}
.icon-sightseeing:before {
  content: "\e65d";
}
.icon-education:before {
  content: "\e65e";
}
.icon-event:before {
  content: "\e65f";
}
.icon-trophy:before {
  content: "\e660";
}
.icon-map-alt:before {
  content: "\e661";
}
.icon-type:before {
  content: "\e662";
}
.icon-video-cam:before {
  content: "\e663";
}
.icon-list-large:before {
  content: "\e664";
}
.icon-laurel:before {
  content: "\e665";
}
.icon-points:before {
  content: "\e666";
}
.icon-camera:before {
  content: "\e667";
}
.icon-problem:before {
  content: "\e668";
}
.icon-nope:before {
  content: "\e669";
}
.icon-play-circle:before {
  content: "\e66a";
}
.icon-stop-circle:before {
  content: "\e66b";
}
.icon-pause-circle:before {
  content: "\e66c";
}
.icon-time:before {
  content: "\e66d";
}
.icon-check-circle-alt:before {
  content: "\e66e";
}
.icon-abqr:before {
  content: "\e66f";
}
.icon-kompass:before {
  content: "\e670";
}
.icon-direction-up:before {
  content: "\e671";
}
.icon-misc:before {
  content: "\e672";
}
.icon-newbounds:before {
  content: "\e673";
}
.icon-multiplayer-large:before {
  content: "\e674";
}
.icon-share:before {
  content: "\e675";
}
.icon-heldenausflug:before {
  content: "\e676";
}
.icon-handledots:before {
  content: "\e677";
}
.icon-piechart:before {
  content: "\e678";
}
.icon-piechartalt:before {
  content: "\e679";
}
.icon-bipa-logo:before {
  content: "\e67a";
}
.icon-bipa-themen:before {
  content: "\e67b";
}
.icon-bipa-geschichte:before {
  content: "\e67c";
}
.icon-bipa-kunst:before {
  content: "\e67d";
}
.icon-bipa-literatur:before {
  content: "\e67e";
}
.icon-bipa-natur:before {
  content: "\e67f";
}
.icon-bipa-technik:before {
  content: "\e680";
}
.icon-bipa-sport:before {
  content: "\e681";
}
.icon-bipa-archiv:before {
  content: "\e682";
}
.icon-bipa-bibliothek:before {
  content: "\e683";
}
.icon-bipa-gedenkstaette:before {
  content: "\e684";
}
.icon-bipa-medienzentrum:before {
  content: "\e685";
}
.icon-bipa-museum:before {
  content: "\e686";
}
.icon-bipa-musikschule:before {
  content: "\e687";
}
.icon-bipa-vhs:before {
  content: "\e688";
}
.icon-bipa-sportverein:before {
  content: "\e689";
}
.icon-ab-logo:before {
  content: "\e68a";
}
.icon-stopwatch:before {
  content: "\e68b";
}
.icon-estimation:before {
  content: "\e68c";
}
.icon-chevron-left:before {
  content: "\e68d";
}
.icon-chevron-right:before {
  content: "\e68e";
}
.icon-double-angle-left:before {
  content: "\e68f";
}
.icon-double-angle-right:before {
  content: "\e690";
}
.icon-envelope-square:before {
  content: "\e691";
}
.icon-envelope-o:before {
  content: "\e692";
}
.icon-envelope:before {
  content: "\e693";
}
.icon-list:before {
  content: "\e694";
}
.icon-bpcqr:before {
  content: "\e695";
}
.icon-google-plus:before {
  content: "\e908";
}
.icon-clipboard:before {
  content: "\e909";
}
.icon-home:before {
  content: "\e90a";
}
.icon-tree:before {
  content: "\e90b";
}
.icon-bars:before {
  content: "\e90c";
}
.icon-twitter:before {
  content: "\e90d";
}
.icon-facebook:before {
  content: "\e90e";
}
.icon-vimeo:before {
  content: "\e90f";
}
.icon-paste:before {
  content: "\e910";
}
.icon-location-arrow:before {
  content: "\e911";
}
.icon-map:before {
  content: "\e912";
}
.icon-map-invert:before {
  content: "\e913";
}
.icon-a-app-logo:before {
  content: "\e914";
}
.icon-mobile:before {
  content: "\e915";
}
.icon-eye-closed:before {
  content: "\e916";
}
.icon-eye:before {
  content: "\e917";
}
.icon-dropdown:before {
  content: "\e918";
}
.icon-single-player:before {
  content: "\e919";
}
.icon-multi-player:before {
  content: "\e91a";
}
.icon-tiles:before {
  content: "\e91b";
}
.icon-money:before {
  content: "\e91c";
}
.icon-invoice:before {
  content: "\e91d";
}
.icon-wallet:before {
  content: "\e91e";
}
.icon-credit-card-alt:before {
  content: "\e91f";
}
.icon-credit-card:before {
  content: "\e920";
}
.icon-ticket:before {
  content: "\e921";
}
.icon-cc-paypal:before {
  content: "\e922";
}
.icon-paypal:before {
  content: "\e923";
}
.icon-ticket-ab:before {
  content: "\e924";
}
.icon-ticket-qr:before {
  content: "\e925";
}
.icon-pied-piper-alt:before {
  content: "\e926";
}
.icon-angle-right:before {
  content: "\e927";
}
.icon-angle-left:before {
  content: "\e928";
}
.icon-circle:before {
  content: "\e929";
}
.icon-mic:before {
  content: "\e92a";
}
.icon-brush:before {
  content: "\e92b";
}
.icon-eat:before {
  content: "\e92c";
}
.icon-football:before {
  content: "\e92d";
}
.icon-austria-logo:before {
  content: "\e92e";
}
.icon-bolt-info:before {
  content: "\e92f";
}
.icon-bitcoin:before {
  content: "\e930";
}
.icon-bolt-legal:before {
  content: "\e931";
}
.icon-switch-small:before {
  content: "\e932";
}
.icon-switch-large:before {
  content: "\e933";
}
.icon-bolt-settings:before {
  content: "\e934";
}
.icon-bolt-start:before {
  content: "\e935";
}
.icon-flag-finish:before {
  content: "\e936";
}
.icon-flag-start:before {
  content: "\e937";
}
.icon-bolt-search:before {
  content: "\e938";
}
.icon-merge:before {
  content: "\e939";
}
.icon-medaille:before {
  content: "\e93a";
}
.icon-folder:before {
  content: "\e93b";
}
.icon-instant-accounts-large:before {
  content: "\e93c";
}
.icon-instant-accounts:before {
  content: "\e93d";
}
.icon-library:before {
  content: "\e93e";
}
.icon-folder-instant-accounts:before {
  content: "\e93f";
}
.icon-g:before {
  content: "\e940";
}
.icon-o:before {
  content: "\e941";
}
.icon-t:before {
  content: "\e942";
}
.icon-voebb:before {
  content: "\e943";
}
.icon-spoton-hands:before {
  content: "\e944";
}
.icon-spoton-i:before {
  content: "\e945";
}
.icon-spoton-law:before {
  content: "\e946";
}
.icon-spoton-mtg:before {
  content: "\e947";
}
.icon-bipa-legal-noborder:before {
  content: "\e948";
}
.icon-spoton-niedersachsen:before {
  content: "\e94b";
}
.icon-spoton-placemark:before {
  content: "\e94c";
}
.icon-spoton-qr:before {
  content: "\e94d";
}
.icon-spoton-questionmark:before {
  content: "\e94e";
}
.icon-spoton-wrench:before {
  content: "\e94f";
}
.icon-spoton-lupe:before {
  content: "\e950";
}
.icon-close:before {
  content: "\f00d";
}
.icon-barcode:before {
  content: "\f02a";
}
.icon-stop:before {
  content: "\f04b";
}
.icon-list-ul:before {
  content: "\f0ca";
}
.icon-list-ol:before {
  content: "\f0cb";
}
.icon-sort:before {
  content: "\f160";
}
.icon-whatsapp:before {
  content: "\f232";
}
